@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #141519;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header h1 {
    font-family: Inter;
    font-size: 22px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin: 0;
}

header p {
    font-family: Inter;
    font-size: 10px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
}


.textLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.textLogin h1 {
    font-family: Inter;
    font-size: 22px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

form {
    width: 450px;
    height: 360px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 30px;
}

.inputLabel {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputLabel label {
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.inputLabel input {
    width: 350px;
    height: 30px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: inter;
    padding: 10px;
    background-color:#DFE6EB;
;
}

.divButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divButton button {
    border: none;
    width: 200px;
    height: 40px;
    background: #633BBC;
    color: white;
    font-family: inter;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 8px;
}

.divButton button:hover {
    background-color: #4a2892;
}

@media screen and (max-width: 400px) {

    .inputLabel input {
        width: 250px;
    }
}